body{font-size: 2vh;
    text-align: center;}
#para{
    margin-top: 20px;
    text-align: center;}
.willy{
    background-image: url(../img/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;}
#imo{margin-top: 100px;}
.two{
    background-image: url(../img/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    padding-top: 65px;
    color: aliceblue;}
.mouse{margin-top: 210px;}
.what{padding: 20px;}
.row{
    padding: 10px;
    justify-content: space-evenly;}
.portfolio div{
    width: 22%;
    margin-bottom: 2%;
    padding: 20px;}
.portfolio img{width: 85%;}
.desc, .par, .ra{display: none;}
.form-group{display: flex;}
.form-group input{
    margin-right: 2%;
    justify-content: space-around;
   background: transparent;}
.form-group textarea{background: transparent;}
.kwera{
    background-image: url(../img/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;}
.twitter img{
    margin-right:2%;
    margin-top: 2%;}
.last{margin-top: 2%;}
#hover{
    font-size: xx-large;
    color: white;
    font-size: 2vh;}