body{

    font-size: 2vh;
    text-align: center;
}
#para{
    margin-top: 20px;
    text-align: center;
}
.willy{
    background-image: url(../img/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
}
#imo{
    margin-top: 100px;
}
.two{
    background-image: url(../img/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    padding-top: 65px;
    color: aliceblue;
}
.mouse{
    margin-top: 250px;
}
.what{
    padding: 20px;
}
.row{
    padding: 10px;
    justify-content: space-evenly;
}
.portfolio div{
    width: 22%;
    margin-bottom: 2%;
    padding-left: 20px;
    margin-left: -20px;
}
.portfolio img{
    width: 85%;
}
.desc, .par, .ra{
    display: none;
    background-color: rgb(175, 16, 56);
}